In [4]:
#Lista de variables:

# name: nombre del vehiculo
# year: año de fabricacion
# selling_prince: precio de venta
# km_drive: kilometraje
# fuel: tipo de combustible
# seller_type: tipo de vendedor
# transmission: tipo de transmision
# owner: numero de dueños anteriores
# mileage: kilometraje por litro
# engine: tamaño del motor
# max_power: potencia maxima
# torque: torque
# seats: numero de asientos
# engine_numeric: tamaño del motor en numeros
# max_power_numeric: potencia maxima en numeros
# torque_numeric: torque en numeros
# mileage_numeric: kilometraje por litro en numeros


# List of variables:

# name: vehicle name
# year: manufacturing year
# selling_prince: selling price
# km_drive: mileage
# fuel: fuel type
# seller_type: seller type
# transmission: transmission type
# owner: number of previous owners
# mileage: mileage per liter
# engine: engine size
# max_power: maximum power
# torque: torque
# seats: number of seats
# engine_numeric: engine size in numbers
# max_power_numeric: maximum power in numbers
# torque_numeric: torque in numbers
# mileage_numeric: mileage per liter in numbers

In [2]:
#Importar librerias
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
# Cargar datos:
# Load data:
data_details = pd.read_csv('CarDetailsOrganizado.csv', delimiter=';')

In [7]:
# Verificar datos:
# Check data:
print(data_details.head())

                           name  year  selling_price  km_driven    fuel  \
0        Maruti Swift Dzire VDI  2014         450000     145500  Diesel
1  Skoda Rapid 1.5 TDI Ambition  2014         370000     120000  Diesel
2      Honda City 2017-2020 EXi  2006         158000     140000  Petrol
3     Hyundai i20 Sportz Diesel  2010         225000     127000  Diesel
4        Maruti Swift VXI BSIII  2007         130000     120000  Petrol

  seller_type transmission         owner     mileage   engine   max_power  \
0  Individual       Manual   First Owner   23.4 kmpl  1248 CC      74 bhp
1  Individual       Manual  Second Owner  21.14 kmpl  1498 CC  103.52 bhp
2  Individual       Manual   Third Owner   17.7 kmpl  1497 CC      78 bhp
3  Individual       Manual   First Owner   23.0 kmpl  1396 CC      90 bhp
4  Individual       Manual   First Owner   16.1 kmpl  1298 CC    88.2 bhp

                     torque  seats
0            190Nm@ 2000rpm    5.0
1       250Nm@ 1500-2500rpm    5.0
2     12.7@ 2,700(kgm@ rpm)    5.0
3  22.4 kgm at 1750-2750rpm    5.0
4     11.5@ 4,500(kgm@ rpm)    5.0

In [10]:
#print("Filas y columnas:")
print("Rows and columns:")
data_details.shape

Filas y columnas:

(7912, 13)

In [11]:
# Verificar datos nulos:
# Check null data:
data_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7912 entries, 0 to 7911
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           7912 non-null   object
 1   year           7912 non-null   int64
 2   selling_price  7912 non-null   int64
 3   km_driven      7912 non-null   int64
 4   fuel           7912 non-null   object
 5   seller_type    7912 non-null   object
 6   transmission   7912 non-null   object
 7   owner          7912 non-null   object
 8   mileage        7908 non-null   object
 9   engine         7908 non-null   object
 10  max_power      7912 non-null   object
 11  torque         7907 non-null   object
 12  seats          7908 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 803.7+ KB

In [12]:
# Estadisticas descriptivas:
# Descriptive statistics:
data_details.describe()

              year  selling_price     km_driven        seats
count  7912.000000   7.912000e+03  7.912000e+03  7908.000000
mean   2013.979525   6.490944e+05  6.919085e+04     5.416414
std       3.868210   8.125961e+05  5.677140e+04     0.959912
min    1994.000000   2.999900e+04  1.000000e+00     2.000000
25%    2012.000000   2.700000e+05  3.500000e+04     5.000000
50%    2015.000000   4.500000e+05  6.000000e+04     5.000000
75%    2017.000000   6.900000e+05  9.527500e+04     5.000000
max    2020.000000   1.000000e+07  2.360457e+06    14.000000

In [14]:
# Crear una nueva columna 'engine_numeric' con los valores convertidos a numéricos
data_details['engine_numeric'] = data_details['engine'].str.extract('(\d+)').astype(float)

# Verificar el resultado
print(data_details[['engine', 'engine_numeric']])

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Santiago HG\AppData\Local\Temp\ipykernel_13116\1045302548.py:2: SyntaxWarning: invalid escape sequence '\d'
  data_details['engine_numeric'] = data_details['engine'].str.extract('(\d+)').astype(float)

       engine  engine_numeric
0     1248 CC          1248.0
1     1498 CC          1498.0
2     1497 CC          1497.0
3     1396 CC          1396.0
4     1298 CC          1298.0
...       ...             ...
7907  1197 CC          1197.0
7908  1493 CC          1493.0
7909  1248 CC          1248.0
7910  1396 CC          1396.0
7911  1396 CC          1396.0

[7912 rows x 2 columns]

In [15]:
# Crear una nueva columna 'mileage_numeric' con los valores convertidos a numéricos
data_details['mileage_numeric'] = data_details['mileage'].str.extract('(\d+\.\d+)').astype(float)

# Verificar el resultado
print(data_details[['mileage', 'mileage_numeric']])

         mileage  mileage_numeric
0      23.4 kmpl            23.40
1     21.14 kmpl            21.14
2      17.7 kmpl            17.70
3      23.0 kmpl            23.00
4      16.1 kmpl            16.10
...          ...              ...
7907   18.5 kmpl            18.50
7908   16.8 kmpl            16.80
7909   19.3 kmpl            19.30
7910  23.57 kmpl            23.57
7911  23.57 kmpl            23.57

[7912 rows x 2 columns]

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Santiago HG\AppData\Local\Temp\ipykernel_13116\1347746073.py:2: SyntaxWarning: invalid escape sequence '\d'
  data_details['mileage_numeric'] = data_details['mileage'].str.extract('(\d+\.\d+)').astype(float)

In [16]:
# Crear una nueva columna 'max_power_numeric' con los valores convertidos a numéricos
data_details['max_power_numeric'] = data_details['max_power'].str.extract('(\d+)').astype(float)

# Verificar el resultado
print(data_details[['max_power', 'max_power_numeric']])

       max_power  max_power_numeric
0         74 bhp               74.0
1     103.52 bhp              103.0
2         78 bhp               78.0
3         90 bhp               90.0
4       88.2 bhp               88.0
...          ...                ...
7907   82.85 bhp               82.0
7908     110 bhp              110.0
7909    73.9 bhp               73.0
7910      70 bhp               70.0
7911      70 bhp               70.0

[7912 rows x 2 columns]

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Santiago HG\AppData\Local\Temp\ipykernel_13116\2756909459.py:2: SyntaxWarning: invalid escape sequence '\d'
  data_details['max_power_numeric'] = data_details['max_power'].str.extract('(\d+)').astype(float)

In [18]:
#Modificacion del csv con las columnas nuevas: 
#Modification of the csv with the new columns:
data_details.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner', 'mileage', 'engine', 'max_power', 'torque',
       'seats', 'engine_numeric', 'mileage_numeric', 'max_power_numeric'],
      dtype='object')